[Interface]
PrivateKey = {{ wg_private_key }}
ListenPort = {{ item.value.wireguard_tunnel.listen_port }}
Address = {{ internal_ip }}

[Peer]
PublicKey = {{ item.value.wireguard_tunnel.peer_pub_key }}
AllowedIPs = {{ item.value.remote_addr }}
